body {
    background:#83736F;
    margin-left: 30px;
    margin-right: 300px;
}

h1 {
  color: red;
  font-family: fantasy
}

h2 {
  font-family: fantasy
}

p {
    font-size: 18px;
}


header {
    margin-top: 100px;
}


img {
    margin-bottom: 20px;
}

.img_padrao {
            margin-bottom: 20px;
            width: 300px;   
}

.logo {
     margin-bottom: 0px;    
}


footer {
    margin-bottom: 300px;
}